<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root34.aurora.addressBook.dao.AddressBookMapper">
    <select id="selectTotalMemberAddresses" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_MEMBER
    </select>
    <select id="selectAllMemberAddresses" parameterType="selectCriteria" resultType="addressBookDTO">
        SELECT
            A.MEMBER_CODE AS ADDBOOK_NO,
            A.MEMBER_NAME AS NAME,
            A.PHONE,
            A.MEMBER_EMAIL AS EMAIL,
            C.JOB_NAME AS COMPANY,
            B.DEPT_NAME AS DEPARTMENT,
            IF(A.TEAM, '', '대기중') AS COM_PHONE
          FROM TBL_MEMBER A
          JOIN TBL_DEPARTMENT B
            ON A.DEPT_CODE = B.DEPT_CODE
          JOIN TBL_JOB C
            ON A.JOB_CODE = C.JOB_CODE
         LIMIT #{ startRow }, #{ limit }
    </select>
    <select id="selectTotalMemberAddressesByDept" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_MEMBER
         WHERE DEPT_CODE = #{ deptCode }
    </select>
    <select id="selectAllMemberAddressesByDept" parameterType="map" resultType="addressBookDTO">
        SELECT
            A.MEMBER_CODE AS ADDBOOK_NO,
            A.MEMBER_NAME AS NAME,
            A.PHONE,
            A.MEMBER_EMAIL AS EMAIL,
            C.JOB_NAME AS COMPANY,
            B.DEPT_NAME AS DEPARTMENT,
            IF(A.TEAM, '', '대기중') AS COM_PHONE
          FROM TBL_MEMBER A
          JOIN TBL_DEPARTMENT B
            ON A.DEPT_CODE = B.DEPT_CODE
          JOIN TBL_JOB C
            ON A.JOB_CODE = C.JOB_CODE
         WHERE A.DEPT_CODE = #{ deptCode }
         LIMIT #{ selectCriteria.startRow }, #{ selectCriteria.limit }
    </select>
    <insert id="insertGroup" parameterType="addressGroupDTO">
        INSERT INTO TBL_ADDRESS_GROUP
            (GROUP_NAME
        <if test="memberCode != null and memberCode != ''">
            ,MEMBER_CODE
        </if>
        <if test="team != null and team != ''">
            ,TEAM
        </if>
             )
        VALUES
            (#{ groupName }
        <if test="memberCode != null and memberCode != ''">
            ,#{ memberCode }
        </if>
        <if test="team != null and team != ''">
            ,#{ team }
        </if>
            )
    </insert>
    <select id="selectOneMemberAddress" parameterType="_int" resultType="memberDTO">
        SELECT
            MEMBER_CODE,
            MEMBER_NAME,
            DEPT_CODE,
            JOB_CODE,
            TASK_CODE,
            MEMBER_EMAIL,
            INTRODUCTION,
            BIRTHDAY,
            TEAM,
            PHONE
          FROM TBL_MEMBER
         WHERE MEMBER_CODE = #{ memberCode }
    </select>
    <select id="selectTotalGroupAddresses" parameterType="String" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_ADDRESS_BOOK
         WHERE GROUP_CODE = #{ groupCode }
    </select>
    <select id="selectAllGroupAddresses" parameterType="map" resultType="addressBookDTO">
        SELECT
            A.ADDBOOK_NO,
            A.GROUP_CODE,
            B.GROUP_NAME,
            A.NAME,
            A.PHONE,
            A.EMAIL,
            A.COMPANY,
            A.DEPARTMENT,
            A.COM_PHONE
          FROM TBL_ADDRESS_BOOK A
          JOIN TBL_ADDRESS_GROUP B
            ON A.GROUP_CODE = B.GROUP_CODE
         WHERE A.GROUP_CODE = #{ groupCode }
         LIMIT #{ selectCriteria.startRow }, #{ selectCriteria.limit }
    </select>
    <insert id="insertGroupAddress" parameterType="addressBookDTO">
        INSERT INTO TBL_ADDRESS_BOOK
            (NAME, GROUP_CODE, PHONE, EMAIL, COMPANY, DEPARTMENT, COM_PHONE)
        VALUES
            (#{ name }, #{ groupCode }, #{ phone }, #{ email }, #{ company }, #{ department }, #{ comPhone })
    </insert>
    <update id="updateAddress" parameterType="map">
        UPDATE TBL_ADDRESS_BOOK
           SET NAME = #{ address.name },
               PHONE = #{ address.phone },
               EMAIL = #{ address.email },
               COMPANY = #{ address.company },
               DEPARTMENT = #{ address.department },
               COM_PHONE = #{ address.comPhone }
         WHERE ADDBOOK_NO = #{ addBookNo }
    </update>
    <delete id="deleteAddress" parameterType="String">
        DELETE FROM TBL_ADDRESS_BOOK
         WHERE ADDBOOK_NO IN
        <foreach collection=" addBookNos " item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectPersonalGroups" parameterType="_int" resultType="addressGroupDTO">
        SELECT
            GROUP_CODE,
            GROUP_NAME
          FROM TBL_ADDRESS_GROUP
         WHERE MEMBER_CODE = #{ memberCode }
    </select>
    <select id="selectTeamGroups" parameterType="_int" resultType="addressGroupDTO">
        SELECT
            GROUP_CODE,
            GROUP_NAME
          FROM TBL_ADDRESS_GROUP
         WHERE TEAM = (SELECT
                           TEAM
                         FROM TBL_MEMBER
                        WHERE MEMBER_CODE = #{ memberCode })
    </select>
    <select id="selectTotalMembersSearch" parameterType="map" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_MEMBER A
          JOIN TBL_DEPARTMENT B
            ON A.DEPT_CODE = B.DEPT_CODE
         WHERE 1 = 1
        <if test="searchCondition == 'name'">
           AND A.MEMBER_NAME LIKE CONCAT('%',#{ searchValue },'%')
        </if>
        <if test="searchCondition == 'department'">
           AND B.DEPT_NAME LIKE CONCAT('%',#{ searchValue },'%')
        </if>
        <if test="searchCondition == 'email'">
           AND A.MEMBER_EMAIL LIKE CONCAT('%',#{ searchValue },'%')
        </if>
    </select>
    <select id="selectMembersWithSearch" parameterType="selectCriteria" resultType="addressBookDTO">
        SELECT
            A.MEMBER_CODE AS ADDBOOK_NO,
            A.MEMBER_NAME AS NAME,
            A.PHONE,
            A.MEMBER_EMAIL AS EMAIL,
            C.JOB_NAME AS COMPANY,
            B.DEPT_NAME AS DEPARTMENT,
            IF(A.TEAM, '', '대기중') AS COM_PHONE
          FROM TBL_MEMBER A
          JOIN TBL_DEPARTMENT B
            ON A.DEPT_CODE = B.DEPT_CODE
          JOIN TBL_JOB C
            ON A.JOB_CODE = C.JOB_CODE
        <if test="searchCondition == 'name'">
           AND A.MEMBER_NAME LIKE CONCAT('%',#{ searchValue },'%')
        </if>
        <if test="searchCondition == 'department'">
           AND B.DEPT_NAME LIKE CONCAT('%',#{ searchValue },'%')
        </if>
        <if test="searchCondition == 'email'">
           AND A.MEMBER_EMAIL LIKE CONCAT('%',#{ searchValue },'%')
        </if>
         LIMIT #{ startRow }, #{ limit }
    </select>
</mapper>