<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root34.aurora.schedule.dao.ScheduleMapper">

    <select id = "selectDayWorklog" resultType="DayWorklogDTO">
        SELECT
               D.DAY_WORKLOG_CODE,
               M.MEMBER_CODE,
               D.DAY_REPORTING_DATE,
               D.MORNING_DAY_CONTENT,
               D.AFTERNOON_DAY_CONTENT,
               D.MORNING_DAY_NOTE,
               D.AFTERNOON_DAY_NOTE,
               D.DAY_SPECIAL_NOTE
          FROM TBL_DAY_WORKLOG D
          JOIN TBL_MEMBER M
            ON (D.MEMBER_CODE = M.MEMBER_CODE)
         WHERE DAY_WORKLOG_CODE = #{ dayWorklogCode }
         ORDER BY DAY_WORKLOG_CODE DESC
    </select>

    <select id = "selectDayWorklogTotal" resultType="int">
        SELECT
            D.DAY_WORKLOG_CODE,
            M.MEMBER_CODE,
            D.DAY_REPORTING_DATE,
            D.MORNING_DAY_CONTENT,
            D.AFTERNOON_DAY_CONTENT,
            D.MORNING_DAY_NOTE,
            D.AFTERNOON_DAY_NOTE,
            D.DAY_SPECIAL_NOTE
        FROM TBL_DAY_WORKLOG D
                 JOIN TBL_MEMBER M
                      ON (D.MEMBER_CODE = M.MEMBER_CODE)
        WHERE DAY_WORKLOG_CODE = #{ dayWorklogCode }
    </select>


</mapper>