<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root34.aurora.member.dao.MemberMapper">
    <insert id="insertMember" parameterType="memberDTO">
        INSERT INTO TBL_MEMBER
            (MEMBER_CODE, DEPT_CODE, JOB_CODE, TASK_CODE, MEMBER_NAME, MEMBER_ID, MEMBER_PWD, MEMBER_EMAIL, ADDRESS,
             GENDER, MEMBER_ROLE, MEMBER_HIRE_DATE, MEMBER_END_DATE, INTRODUCTION,SIGNIFICANT , STATUS, BIRTHDAY, TEAM,
             FILE_CODE, PHONE)
        VALUES
            ( NULL, #{ deptCode }, #{ jobCode }, #{ taskCode }, #{ memberName }, #{ memberId }, #{ memberPWD }, #{ memberEmail },
             #{ address }, #{ gender }, DEFAULT, DEFAULT, #{ memberEndDate }, #{ introduction }, #{ significant }, DEFAULT,
             #{ birthDay }, #{ team }, #{ fileCode }, #{ phone } )

    </insert>

    <select id="selectByEmail" resultType="MemberDTO">
        SELECT
                MEMBER_CODE,
                MEMBER_ID,
                MEMBER_NAME,
                MEMBER_PWD,
                MEMBER_ROLE,
                MEMBER_EMAIL
          FROM TBL_MEMBER
         WHERE MEMBER_EMAIL = #{ memberEmail }
    </select>

    <select id="selectMemberTotal" resultType="int">
        SELECT
            count(*)
          FROM TBL_MEMBER

    </select>

    <select id="memberList" resultType="MemberDTO">
        SELECT
            A.MEMBER_CODE,
            A.MEMBER_NAME,
            A.PHONE,
            A.MEMBER_EMAIL,
            A.DEPT_CODE,
            B.DEPT_NAME,
            A.JOB_CODE,
            C.JOB_NAME,
            A.TASK_CODE,
            D.TASK_NAME,
            A.ADDRESS,
            A.MEMBER_HIRE_DATE,
            A.STATUS
        FROM TBL_MEMBER A
                 JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                 JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                 JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE
    </select>

    <select id="selectMemberDetail" parameterType="int" resultType="MemberDTO">
        SELECT
               A.MEMBER_ID,
               A.MEMBER_CODE,
               A.DEPT_CODE,
               B.DEPT_NAME,
               A.JOB_CODE,
               C.JOB_NAME,
               A.TASK_CODE,
               D.TASK_NAME,
               A.TEAM,
               A.MEMBER_NAME,
               A.PHONE,
               A.MEMBER_EMAIL,
               DATE_FORMAT( A.BIRTHDAY, '%Y-%m-%d') AS BIRTHDAY,
               A.ADDRESS,
               A.STATUS,
               A.MEMBER_HIRE_DATE,
               A.MEMBER_END_DATE,
               A.SIGNIFICANT,
               A.INTRODUCTION
          FROM TBL_MEMBER A
                   JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                   JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                   JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE
         WHERE A.MEMBER_CODE = #{ memberCode }
    </select>

    <select id="findByMemberId" resultType="MemberDTO">
        SELECT
                *
          FROM TBL_MEMBER
         WHERE MEMBER_ID = #{ memberId }
    </select>

    <update id="memberModify" parameterType="MemberDTO">
        UPDATE TBL_MEMBER
           SET
               DEPT_CODE = #{ deptCode },
               PHONE = #{ phone },
               JOB_CODE = #{ jobCode },
               TASK_CODE = #{ taskCode },
               TEAM = #{ team },
               ADDRESS = #{ address },
               STATUS = #{ status },
               MEMBER_END_DATE = #{ memberEndDate },
               SIGNIFICANT = #{ significant },
               INTRODUCTION = #{ introduction },
               FILE_CODE = #{ fileCode }

        WHERE MEMBER_CODE = #{ memberCode }


    </update>

    <select id="selectMemberListAboutName" resultType="MemberDTO">
        SELECT
                A.MEMBER_CODE,
                A.MEMBER_NAME,
                A.PHONE,
                A.MEMBER_EMAIL,
                A.DEPT_CODE,
                B.DEPT_NAME,
                A.JOB_CODE,
                C.JOB_NAME,
                A.TASK_CODE,
                D.TASK_NAME,
                A.ADDRESS,
                A.MEMBER_HIRE_DATE,
                A.STATUS

          FROM TBL_MEMBER A
                   JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                   JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                   JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE

        WHERE A.MEMBER_NAME LIKE CONCAT ('%', #{ search } ,'%')
           AND A.STATUS = '재직'
      ORDER BY A.MEMBER_CODE
    </select>

    <select id="selectMemberListAboutEmail" resultType="MemberDTO">
        SELECT
            A.MEMBER_CODE,
            A.MEMBER_NAME,
            A.PHONE,
            A.MEMBER_EMAIL,
            A.DEPT_CODE,
            B.DEPT_NAME,
            A.JOB_CODE,
            C.JOB_NAME,
            A.TASK_CODE,
            D.TASK_NAME,
            A.ADDRESS,
            A.MEMBER_HIRE_DATE,
            A.STATUS

        FROM TBL_MEMBER A
                 JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                 JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                 JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE

        WHERE A.MEMBER_EMAIL LIKE CONCAT ('%', #{ search } ,'%')
          AND A.STATUS = '재직'
        ORDER BY A.MEMBER_CODE
    </select>

    <select id="selectMemberListAboutDept" resultType="MemberDTO">
        SELECT
            A.MEMBER_CODE,
            A.MEMBER_NAME,
            A.PHONE,
            A.MEMBER_EMAIL,
            A.DEPT_CODE,
            B.DEPT_NAME,
            A.JOB_CODE,
            C.JOB_NAME,
            A.TASK_CODE,
            D.TASK_NAME,
            A.ADDRESS,
            A.MEMBER_HIRE_DATE,
            A.STATUS

        FROM TBL_MEMBER A
                 JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                 JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                 JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE

        WHERE A.DEPT_CODE LIKE CONCAT ('%', #{ search } ,'%')
          AND A.STATUS = '재직'
        ORDER BY A.MEMBER_CODE
    </select>

    <select id="selectMemberListAboutJob" resultType="MemberDTO">
        SELECT
            A.MEMBER_CODE,
            A.MEMBER_NAME,
            A.PHONE,
            A.MEMBER_EMAIL,
            A.DEPT_CODE,
            B.DEPT_NAME,
            A.JOB_CODE,
            C.JOB_NAME,
            A.TASK_CODE,
            D.TASK_NAME,
            A.ADDRESS,
            A.MEMBER_HIRE_DATE,
            A.STATUS

        FROM TBL_MEMBER A
                 JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                 JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                 JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE

        WHERE A.JOB_CODE LIKE CONCAT ('%', #{ search } ,'%')
          AND A.STATUS = '재직'
        ORDER BY A.MEMBER_CODE
    </select>

    <select id="selectMemberListAboutTask" resultType="MemberDTO">
        SELECT
            A.MEMBER_CODE,
            A.MEMBER_NAME,
            A.PHONE,
            A.MEMBER_EMAIL,
            A.DEPT_CODE,
            B.DEPT_NAME,
            A.JOB_CODE,
            C.JOB_NAME,
            A.TASK_CODE,
            D.TASK_NAME,
            A.ADDRESS,
            A.MEMBER_HIRE_DATE,
            A.STATUS

        FROM TBL_MEMBER A
                 JOIN TBL_DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
                 JOIN TBL_JOB C ON A.JOB_CODE = C.JOB_CODE
                 JOIN TBL_TASK D ON A.TASK_CODE = D.TASK_CODE

        WHERE A.TASK_CODE LIKE CONCAT ('%', #{ search } ,'%')
          AND A.STATUS = '재직'
        ORDER BY A.MEMBER_CODE
    </select>

    <select id="selectJob" resultType="JobDTO">
        SELECT
              *
        FROM TBL_JOB

    </select>

    <select id="selectDept" resultType="DeptDTO">
        SELECT
            *
        FROM TBL_Department

    </select>




</mapper>