<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root34.aurora.schedule.dao.ScheduleMapper">

    <select id = "selectScheduleCalendarAboutMe" resultType = "ScheduleDTO">
        SELECT
            S.SCHEDULE_CODE,
            M.MEMBER_CODE,

            S.SCHEDULE_NAME,
            S.SCHEDULE_START_DAY,
            S.SCHEDULE_END_DAY,

            S.SCHEDULE_PLACE,
            S.SCHEDULE_CONTENT
          FROM TBL_SCHEDULE S

          JOIN TBL_MEMBER M
            ON (S.MEMBER_CODE = M.MEMBER_CODE)

    </select>

    <select id = "selectScheduleCalendarAboutTeam" resultType = "ScheduleDTO">
        SELECT
            S.SCHEDULE_CODE,
            M.MEMBER_CODE,

            S.SCHEDULE_NAME,
            S.SCHEDULE_START_DAY,
            S.SCHEDULE_END_DAY,

            S.SCHEDULE_PLACE,
            S.SCHEDULE_CONTENT
          FROM TBL_SCHEDULE S

          JOIN TBL_MEMBER M
            ON (S.MEMBER_CODE = M.MEMBER_CODE)
         WHERE S.SCHEDULE_CODE = #{ scheduleCode }
    </select>

    <select id = "selectScheduleCalendarAboutDay" resultType = "ScheduleDTO">
        SELECT
            S.SCHEDULE_CODE,
            M.MEMBER_CODE,

            S.SCHEDULE_NAME,
            S.SCHEDULE_START_DAY,
            S.SCHEDULE_END_DAY,

            S.SCHEDULE_PLACE,
            S.SCHEDULE_CONTENT
          FROM TBL_SCHEDULE S

          JOIN TBL_MEMBER M
            ON (S.MEMBER_CODE = M.MEMBER_CODE)
         WHERE S.SCHEDULE_CODE = #{ scheduleCode }
    </select>

    <select id = "selectSchedule" parameterType="map" resultType="ScheduleDTO">
        SELECT
            S.SCHEDULE_CODE,
            M.MEMBER_CODE,

            S.SCHEDULE_NAME,
            S.SCHEDULE_START_DAY,
            S.SCHEDULE_END_DAY,

            S.SCHEDULE_PLACE,
            S.SCHEDULE_CONTENT
          FROM TBL_SCHEDULE S

          JOIN TBL_MEMBER M
            ON (S.MEMBER_CODE = M.MEMBER_CODE)
         WHERE S.SCHEDULE_CODE = #{ scheduleCode }
    </select>



    <insert id = "insertSchedule" parameterType="ScheduleDTO">
        INSERT INTO TBL_SCHEDULE
        (
            MEMBER_CODE,

            SCHEDULE_NAME,
            SCHEDULE_START_DAY,
            SCHEDULE_END_DAY,

            SCHEDULE_PLACE,
            SCHEDULE_CONTENT
        )
        VALUES
        (
            #{ memberCode },

            #{ scheduleName },
            #{ scheduleStartDay },
            #{ scheduleEndDay },

            #{ schedulePlace },
            #{ scheduleContent }
        )
    </insert>

    <update id = "updateSchedule" parameterType = "ScheduleDTO">
        UPDATE TBL_SCHEDULE
           SET
               MEMBER_CODE = #{ memberCode },

               SCHEDULE_NAME = #{ scheduleName },
               SCHEDULE_START_DAY = #{ scheduleStartDay },
               SCHEDULE_END_DAY = #{ scheduleEndDay },

               SCHEDULE_PLACE = #{ schedulePlace },
               SCHEDULE_CONTENT = #{ scheduleContent }
         WHERE SCHEDULE_CODE = #{ scheduleCode }
    </update>

    <delete id = "deleteSchedule" parameterType="_int">
        DELETE FROM TBL_SCHEDULE
         WHERE SCHEDULE_CODE = #{ scheduleCode }
    </delete>
</mapper>