<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root34.aurora.vacation.dao.VacationMapper">

    <select id="selectRemainVacation" resultType="map">
        SELECT
               REMAIN_VACATION

          FROM TBL_VACATION
         WHERE MEMBER_CODE = #{ memberCode }

    </select>






</mapper>